language: bash

# Enable modern build platform, not container based.
sudo: required
dist: trusty

# Clamav 0.99 from Debian wheezy
before_install:
  - "sudo apt-get -qq update"
  - "sudo apt-get install -qq -y ca-certificates wget rsync"
  - "sudo wget -nv http://ftp.debian.org/debian/pool/main/l/llvm-3.0/libllvm3.0_3.0-10_amd64.deb"
  - "sudo wget -nv http://ftp.debian.org/debian/pool/main/libf/libffi/libffi5_3.0.10-3_amd64.deb"
  - "sudo wget -nv http://ftp.debian.org/debian/pool/main/c/clamav/libclamav7_0.99+dfsg-0+deb7u2_amd64.deb"
  - "sudo wget -nv http://ftp.debian.org/debian/pool/main/c/clamav/clamav-base_0.99+dfsg-0+deb7u2_all.deb"
  - "sudo wget -nv http://ftp.debian.org/debian/pool/main/c/clamav/clamav-freshclam_0.99+dfsg-0+deb7u2_amd64.deb"
  - "sudo wget -nv http://ftp.debian.org/debian/pool/main/c/clamav/clamav-daemon_0.99+dfsg-0+deb7u2_amd64.deb"
  - "sudo dpkg -i *.deb"
  - "sudo apt-get install -y -f"
  - "sudo cp -f .t/tests/bytecode.cvd /var/lib/clamav/bytecode.cvd"
  - "sudo chown -R clamav:clamav /var/lib/clamav"
  - "sudo service clamav-daemon start"

install:
  - "sudo mkdir -p /etc/clamav-unofficial-sigs"
  - "sudo cp -f config/master.conf /etc/clamav-unofficial-sigs/master.conf"
  - "sudo cp -f config/os.ubuntu.conf /etc/clamav-unofficial-sigs/os.conf"
  - "sudo cp -f .t/tests/user.conf /etc/clamav-unofficial-sigs/user.conf"
  - "sudo cp -f clamav-unofficial-sigs.sh /usr/sbin/clamav-unofficial-sigs"

script:
  - sudo sh -e .t/ci-test.sh

addons:
  code_climate:
    repo_token: 270be84579d01fcbe78b21b91719c2c55cd627f074c8abb83699a8319c980b60
