.include /lib/systemd/system/clamd@.service

[Unit]
Description = Generic clamav scanner daemon
Wants=clamav-unofficial-sigs.timer

[Install]
WantedBy = multi-user.target
