###################
# This is property of eXtremeSHOK.com
# You are free to use, modify and distribute, however you may not remove this notice.
# Copyright (c) Adrian Jon Kriel :: admin@extremeshok.com
# License: BSD (Berkeley Software Distribution)
##################
#
# Script updates can be found at: https://github.com/extremeshok/clamav-unofficial-sigs
#
##################
# NOTE: do NOT install this file directly, it has no ExecStart and can not
# be enabled, it documents the drop-in override below.
# The legacy ".include" directive was removed in systemd 240, use a
# drop-in override for the packaged clamd@.service template instead:
#
#   systemctl edit clamd@scan
#
# paste the [Unit] section below into the editor, save, then run:
#
#   systemctl daemon-reload
#   systemctl enable --now clamd@scan
#
# Drop-in location: /etc/systemd/system/clamd@scan.service.d/override.conf
##################

[Unit]
Description=Generic clamav scanner daemon
Wants=clamav-unofficial-sigs.timer
