###################
# This is property of eXtremeSHOK.com
# You are free to use, modify and distribute, however you may not remove this notice.
# Copyright (c) Adrian Jon Kriel :: admin@extremeshok.com
# License: BSD (Berkeley Software Distribution)
##################
#
# Script updates can be found at: https://github.com/extremeshok/clamav-unofficial-sigs
#
##################
# This file will execute the clamav-unofficial-sigs.sh script that
# currently supports updating third-party signature databases provided
# by Sanesecurity, SecuriteInfo, MalwarePatrol, OITC, etc.
#
# File Location: /etc/systemd/system/clamav-unofficial-sigs.service
#
# Remember to enable:
# systemctl enable clamav-unofficial-sigs.service
# systemctl enable clamav-unofficial-sigs.timer
#
##################

[Unit]
Description=Clamav Unofficial Sigs Update timer
Requires=clamav-unofficial-sigs.service

[Timer]
OnCalendar=*-*-* *:37:00
Unit=clamav-unofficial-sigs.service
RandomizedDelaySec=60m
Persistent=true

[Install]
WantedBy=multi-user.target
