###################
# This is property of eXtremeSHOK.com
# You are free to use, modify and distribute, however you may not remove this notice.
# Copyright (c) Adrian Jon Kriel :: admin@extremeshok.com
# License: BSD (Berkeley Software Distribution)
##################
#
# Script updates can be found at: https://github.com/extremeshok/clamav-unofficial-sigs
#
##################
.include /lib/systemd/system/clamd@.service

[Unit]
Description = Generic clamav scanner daemon
Wants=clamav-unofficial-sigs.timer

[Install]
WantedBy = multi-user.target
